page-recovery-password {


    .label_text{
        text-align:left;
        font-family: 'helvetica-normal', 'arial', 'sans-serif';
        font-size: 1em;
        color: #9E9E9E;
      }  
      
      .no-scroll .scroll-content{
        overflow: hidden;
      }

      .text-input {
        margin: 0 auto;
        width: 100%;
        border-radius: 5px;
        border: 1px solid #D9D9D9;
        padding: 10px;
        height: 44px;
        margin-top: 15px;
        font-size: 14px;
        font-family: 'helvetica-normal', 'arial', 'sans-serif';
      }

      .btnFacebook{
        width: 100%;
        margin:15px 0 0 0;
        background-color:#3b5998;
        text-align: center;
        color:white; 
        position: relative !important;
        .facebookIcon{
            display: inline-block;
            vertical-align: middle;
            margin: 0px 6px 0px 0px;
        }
        p{
            display: inline-block;
            vertical-align: middle;
            color: white !important;
            line-height: 0;
            font-size: 13px;
            font-weight: bold;
            margin: 0px;
        }
    }

      .btnReset{
        width: 100%;
        margin: 15px 0px;
        background-color:#0084ff;
        text-align: center;
        color:white; 
        font-size: 14px;
        font-weight: bold;
        position: relative !important;
        .mobileIcon{
            display: inline-block;
            vertical-align: middle;
            margin: 0 25px;
        }
        p{
            display: inline-block;
            vertical-align: middle;
            color: white !important;
            line-height: 0;
            font-size: 14px;
            font-weight: bold;
            margin: 0px;
        }
    }

      .separador{
        height: 8px;
        width:100%;
      }  
      .scroll-content{
        margin-top: 0px !important;
      }

      .top{
        height: auto !important;
        padding: 50px 35px 50px 35px !important;
        background-color: #0084ff;
        margin-top: 0;
      }
      .bottom {padding: 28px;border-top: none; height: 60px; background: #fff;}
      .toolbar-ios, .toolbar-md {
        padding: 4px;
        padding-left: 4px;
        padding-right: 4px;
        min-height: 44px;
    }
    .circle_icon h5 {color: #555555; font-size: 15px; font-weight: bold; padding:0px !important; margin:15px 0px; padding:0px 35px !important; color: #ffffff}
    .circle_icon p {color: #555555; font-size: 14px; font-weight: normal; padding:0px !important; margin:0px; padding:0px 35px !important; color: #ffffff}
    .center span{margin-left: 50%;}
    .circle_icon img{width: 90px; padding: 0px !important; margin-top: 30px;}
    .ion-ios-lock:before{
      font-size: 76px;
      color: #ffffff;
      width: 80px;
      text-align: center;
      height: 80px;
      padding: 10px;
      border-radius: 500px;
      border: 2px solid #ffffff;
      background-color: transparent;
      }
}
.or{
  display: block;
  text-align: center;
}