page-recovery-password {


    .label_text{
        text-align:left;
        font-family: 'helvetica-normal', 'arial', 'sans-serif';
        font-size: 1em;
        color: #9E9E9E;
      }  
      
      .no-scroll .scroll-content{
        overflow: hidden;
      }

      ion-footer {
        .toolbar-title {
          color: #00b6ff !important;
          font-weight: 540;
        }
      }

      .text-input {
        margin: 0;
        width: 100%;
        border-radius: 7px;
        border: 1px solid #D2D2D2;
        padding: 10px 10px 10px 20px;
        margin-bottom: 10px;
        font-size: 1em;
        font-family: 'helvetica-normal', 'arial', 'sans-serif';
      }

      .btnFacebook{
        width: 100%;
        margin:15px 0 0 0;
        background-color:#3b5998;
        text-align: left;
        color:white; 
        position: relative !important;
        .facebookIcon{
            display: inline-block;
            vertical-align: middle;
            margin: 0 25px;
        }
        p{
            display: inline-block;
            vertical-align: middle;
            color: white !important;
            line-height: 0;
            font-size: 13px;
            font-weight: bold;
        }
    }

      .btnReset{
        width: 100%;
        margin: 0 0 10px 0;
        background-color:#00b4ff;
        text-align: center;
        color:white; 
        font-size: 13px;
        font-weight: bold;
        position: relative !important;
        .mobileIcon{
            display: inline-block;
            vertical-align: middle;
            margin: 0 25px;
        }
        p{
            display: inline-block;
            vertical-align: middle;
            color: white !important;
            line-height: 0;
            font-size: 12px;
            font-weight: bold;
        }
    }

      .separador{
        height: 8px;
        width:100%;
      }  
      .scroll-content{
        margin-top: 0px !important;
      }

      .top{
        height: 185px !important;
        padding: 10px 30px !important;
        background-color: #ffffff;
      }
      .bottom {padding: 28px;border-top: none; height: 60px; background: #fff;}
      .toolbar-ios, .toolbar-md {
        padding: 4px;
        padding-left: 4px;
        padding-right: 4px;
        min-height: 44px;
    }
    .circle_icon h5 {    font-size: 13px;margin-top: 4px;
      font-weight: bold;}
    .circle_icon p {color: #090909;font-size: 13px;    margin-top: 10px;}
    .center span{margin-left: 50%;}
    .circle_icon img{width: 90px;}
}
.or{
  display: block;
  text-align: center;
}