<div class="ion-content" >

        <div class="top" *ngIf="!resetProcess && !passwordProcess">
            <div class="circle_icon">
                <ion-icon name="lock"></ion-icon> 
                <h5>¿Tienes problemas para iniciar sesión?</h5>
                <p>Ingresa tu correo electrónico o teléfono celular y te enviaremos un enlace para recuperar el acceso a tu cuenta.</p>
            </div>         
        </div>

        <div class="top" style="background-color: #0099ff !important;" *ngIf="resetProcess || passwordProcess">
            <div class="circle_icon"> 
                <img src="assets/img/logo.png" />   
            </div>         
        </div> 

        <ion-content class="no-scroll">
    
            <form *ngIf="!resetProcess && !passwordProcess" id="registro" class="pad_rlt" [formGroup]="resetForm" (ngSubmit)="submitReset()">
                <label id="registrateYConsultaAUnProvedor-input2">
                    <ion-input type="text" placeholder="Correo electrónico o teléfono cel." [(ngModel)]='user.email_cellphone' formControlName="email_cellphone" [ngClass]="{ 'input_invalid': isSubmitted && check.email_cellphone.errors }"></ion-input>
                </label>            

                <button type="submit" class="btnReset">
                    <p>Enviar enlace de inicio de sesión</p>
                </button>
                <!-- <span class="or">o</span>!-->
            </form>

            


            <form *ngIf="resetProcess" id="registro" class="pad_rlt" [formGroup]="verifyForm" (ngSubmit)="tokenVerification()">
                    <p>Please enter token in order to verify your cellphone number.</p>
                    <div class="phone_number">
                        <ion-input type="number" placeholder="Teléfono celular" [(ngModel)]='verf.code' formControlName="code" [ngClass]="{ 'input_invalid': isSubmittedVrfToken && vrfToken.code.errors }"></ion-input>
                    </div>
                
                <button type="submit" class="button">Submit</button> 
            </form>

            <form *ngIf="passwordProcess" id="registro" class="pad_rlt" [formGroup]="passwordForm" (ngSubmit)="setPassword()">
                <p>Establecer nueva contraseña.</p>
                <div class="phone_number">
                    <label id="registrateYConsultaAUnProvedor-input7">
                        <ion-input type="password" placeholder="Contraseña" [(ngModel)]='change.password' formControlName="password" ng-minlength="8" ng-maxlength="20" [ngClass]="{ 'input_invalid': isPasswordSubmitted && reset.password.errors }"></ion-input>
                    </label>
                </div>
        
                <div class="phone_number">
                    <label>
                        <ion-input type="password" [(ngModel)]='change.c_password' formControlName="c_password" placeholder="Confirmar contraseña"  [ngClass]="{ 'input_invalid': isPasswordSubmitted && reset.c_password.errors }"></ion-input>
                    </label>
                </div>
                <button type="submit" class="button">Change Passwrod</button> 
            </form>

            <!-- <div class="pad_rlt">
                <button class="btnFacebook" (click)="facebook()">
                        <img class="facebookIcon" src="assets/img/facebook.png" height="20px"/>
                        <p>Entra con Facebook</p>
                </button>
            </div>!--> 
            
        </ion-content>
    </div>
    

    <ion-footer class="main-footer">
        <ion-toolbar (click)="goToLogin()">
            <ion-title>Volver a entrar</ion-title>
        </ion-toolbar>
    </ion-footer>