page-recovery-password {

    .label_text{
        text-align:left;
        font-family: 'helvetica-normal', 'arial', 'sans-serif';
        font-size: 1em;
        color: #9E9E9E;
      }  
      
      .no-scroll .scroll-content{
        overflow: hidden;
        }

      .text-input {
        margin: 15 auto;
        width: 100%;
        border-radius: 7px;
        border: 1px solid #D2D2D2;
        padding: 10px 10px 10px 20px;
        margin-top: 10px;
        font-size: 1em;
        font-family: 'helvetica-normal', 'arial', 'sans-serif';
      }

      .btnFacebook{
        width: 90%;
        margin: 10px auto;
        background-color:#3b5998;
        text-align: left;
        color:white;
        padding: 5px 15px !important;
        position: relative !important;
        .facebookIcon{
            display: inline-block;
            vertical-align: middle;
            margin: 0 25px;
        }
        p{
            display: inline-block;
            vertical-align: middle;
            color: white !important;
            line-height: 0;
            font-size: 1em;
        }
    }

      .btnReset{
        width: 90%;
        margin: 10px auto;
        background-color:#00b4ff;
        text-align: left;
        color:white;
        padding: 5px 15px !important;
        position: relative !important;
        .mobileIcon{
            display: inline-block;
            vertical-align: middle;
            margin: 0 25px;
        }
        p{
            display: inline-block;
            vertical-align: middle;
            color: white !important;
            line-height: 0;
            font-size: 1em;
        }
    }

      .separador{
        height: 8px;
        width:100%;
      }  
      .scroll-content{
        margin-top: 0px !important;
      }

      .top{
        height: 234px !important;
        padding: 15px 0 !important;
        background-color: #ffffff;
      }
      .bottom {padding: 28px;border-top: none; height: 60px; background: #fff;}
      .toolbar-ios, .toolbar-md {
        padding: 4px;
        padding-left: 4px;
        padding-right: 4px;
        min-height: 44px;
    }
    .circle_icon h5 {font-size: 15px;}
    .circle_icon p {color: #090909;font-size: 14px;}
    .center span{margin-left: 50%;}
    
}
