<ion-header>
    <ion-toolbar>
        <ion-title>{{title}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-list>
        <ion-list-header>Escoger {{title}}</ion-list-header>
    </ion-list>

    <ion-card *ngIf="type=='height'" >
        <ion-item (click)="choose(hgts)" *ngFor="let hgts of heights" >
            <ion-col class="col" col-8>
            <h2>{{hgts}}"</h2>
            </ion-col>
            <ion-col class="col forward_icon" col-4><span>Choose</span></ion-col>
        </ion-item>
    </ion-card>

    <ion-card *ngIf="type=='weight'" >
        <ion-item (click)="choose(wgts)" *ngFor="let wgts of weights" >
            <ion-col class="col" col-8>
            <h2>{{wgts}}</h2>
            </ion-col>
            <ion-col class="col forward_icon" col-4><span>Choose</span></ion-col>
        </ion-item>
    </ion-card>

</ion-content>


