page-pharmacy {
  /* Common css*/
  .item-md.item-block .item-inner{padding-right: 0px;}
  .card-md, .card-ios{width: 100%; margin: 0;}
  .card-ios{box-shadow: none;border-bottom: 1px solid #ddd;}
  ion-title{text-align: center;}
  ion-title .toolbar-title{color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* Ended common css*/

  /* Main Css*/
  .bar-buttons-ios .bar-button-default-ios{height: 37px;}
  //.content-ios .scroll-content{margin-top: 115px !important;}
  ion-buttons {margin: 0;}
  .bar-button-default-md, .bar-button-default-ios{color: #fff;}
  .toolbar-md{padding: 0px;}
  ion-item.item.item-block{border-bottom: 1px solid #ddd;}
  ion-col.col.col{float:left;}
  .forward_icon ion-icon{color: #6b5b5b;}
  ion-item.item.item-block:last-child{margin-bottom: 0px;}

  .back-button {
      width: 0px;
      color: #fff;
  }

  .add_menor {
      margin-top: 13px;
      float: left;
      color: #00b4ff;
  }

  .form_label {
      font-size: 13px;
      margin-top: 15px;
      margin-bottom: 15px;
      float: left;
      color: #585757;
      font-weight: bold;
      margin-left: 15px;
  }



  .circle_icon ul {
    padding: 15px 20px 15px 20px !important;
    background-color: #ffffff;
    margin: 0px !important;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: none;
  }
  .circle_icon ul li {
    list-style: none;
    padding: 0px;
    line-height: 25px;
    font-size: 12px;
    font-weight: normal;
    width: 25px;
    height: 25px;
    text-align: center;
    background: #e8e8ea;
    border-radius: 100%;
    color: #a1a1a1;
    position: relative;
    border: 1px solid #e8e8ea;
  }
  .circle_icon ul li.active {
    background: #ffffff;
    border: 1px solid #0084ff;
    color: #0084ff;
  }
  .circle_icon ul li.fill {
    background: #0084ff;
    border: 1px solid #0084ff;
    color: #ffffff;
  }
  .circle_icon ul li:after {
    content: '';
    //position: absolute;
    //top: 11px;
    //height: 1px;
    //background: #a1a1a1;
    //left: 15px;
    //width: 57px;
    //z-index: 0;
  }
  .circle_icon ul li:last-child:after {
    content: none;
  }
  .circle_icon ul li.fill:after {
    background: #0084ff; 
  }
  .pad_rlt_10{padding: 0px; display: block;}
  .pad_rlt_25{padding: 0px; display: block;}
    .item-ios, .item-md{padding-left: 8px;
      h2 {
          font-size: 14px; font-weight: bold;
        }
      p {
        font-size: 12px;
        text-align: left!important;
      }
    }
    .label-ios, .label-md {
      margin:8px 0px 8px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .forward_icon{text-align: right;}
    .item-ios.item-block .item-inner{padding-right: 0px;}
    .forward_icon .button{width: 74px;}
    .bottom_fixed_btn{
      position: fixed;
      bottom: 44px;
      z-index: 99;
      right: 0;
      left: 0;
      padding: 10px 0;
      background: #fff;
      text-align: center;
      .add_menor{
        width: 90%;
        display: inline-block;
        padding: 10px 0;
        border-radius: 5px;
        float: none;
        margin: 0 auto; 
        font-size: 14px;
        background: #ededed;
      }
    } 
}
.header-ios .toolbar-background-ios, .footer-ios .toolbar-background-ios{border-color: transparent;}