<ion-tabs>
  <ion-tab *ngFor="let tab of tabs" [root]="tab.root" [tabIcon]="tab.icon"></ion-tab>
</ion-tabs>
 
<!-- <ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="" tabIcon="briefcase"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="" tabIcon="chatboxes"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="" tabIcon="heart"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="" tabIcon="calendar"></ion-tab>
</ion-tabs> -->
<!-- <ion-tabs>
  <ion-tab *ngFor="let tab of tabs" [root]="tab.root" [tabTitle]="tab.title" [tabIcon]="tab.icon"></ion-tab>
</ion-tabs> -->

<!-- <ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="" tabIcon="briefcase"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="" tabIcon="chatboxes"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="" tabIcon="heart"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="" tabIcon="calendar"></ion-tab>
</ion-tabs>
 -->