page-patient-simptom-next {
/* Common css*/
.item-md.item-block .item-inner{padding-right: 0px;}
.card-md, .card-ios{width: 100%; margin: 0;}
.toolbar-background {background: #00b4ff;}
ion-title{text-align: center;}
ion-title .toolbar-title{color: #ffffff;}
.back-button {width: 0px; color: #fff; }
/* Ended common css*/

/* Main Css*/ 
.bar-buttons-ios .bar-button-default-ios{height: 37px;}
//.content-ios .scroll-content{margin-top: 115px !important;}
ion-buttons {margin: 0;}
.bar-button-default-md, .bar-button-default-ios{color: #fff;}
.toolbar-md{padding: 0px;}
ion-item.item.item-block{border-top: 1px solid #ddd;}
ion-col.col.col{float:left;}
.forward_icon ion-icon{color: #6b5b5b;}
.item-inner{padding: 0px !important;}
.label-ios{margin-right: 0px !important;}
.pad_rlt_25{padding: 0 25px; display: block;}
.clearfix {
  padding: 14px 14px;
  font-weight: bold;
  font-size: 12px;
}

.form_label{font-weight: bold;font-size: 13px; margin-top: 11px;float: left;color: #585757;} 

.circle_icon ul {
    padding: 0;
    margin: 14px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .circle_icon ul li {
    list-style: none;
    padding: 0px;
    line-height: 15px;
    font-size: 10px;
    font-weight: bold;
    width: 15px;
    height: 15px;
    text-align: center;
    background: #ededed;
    border-radius: 100%;
    color: #fff;
    position: relative;
  }

  .item-ios.item-block .item-inner, .item-md.item-block .item-inner{
    border-bottom: #fff;
  }


  .circle_icon ul li.active {
    background: #00b4ff;
  }
  .circle_icon ul li:after {
    content: '';
    position: absolute;
    top: 7px;
    height: 2px;
    background: #ededed;
    left: 15px;
    width: 45px;
    z-index: 0;
  }
  .circle_icon ul li:last-child:after {
    content: none;
  }
  .circle_icon ul li.fill:after {
    background: #00b4ff;
  }
  
}
