<ion-header>
  <ion-navbar>
    <ion-buttons end>
      <button ion-button color="royal"></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content class="no-scroll">
  <div class="no_data_found" *ngIf="isLoading">
      <ion-spinner></ion-spinner>
  </div>
  <div id="profileContainer" *ngIf="!isLoading">
    <ion-item text-center class="image_container_profile">
      <span class="text_center_flex" *ngIf="doctor.avatar">
        <span class="profile_img">
          <img [src]="doctor.avatar" />
        </span>
      </span>
      <span class="span-class-1">Dr. {{doctor.firstName}} {{doctor.lastName}}</span>
      <span class="span-class-2">General Physical</span>
      <div class="user_activity">
        <ion-icon name="videocam" (click)="patientInfo()" ></ion-icon>
        <ion-icon name="chatbubbles" (click)="openChat()" ></ion-icon>
        <!-- <img (click)="patientInfo()" src="assets/img/calender.png" />
        <img src="assets/img/star.png" test/>-->
      </div>
    </ion-item>
    <div class="user_info">
      <span class="span-class-1">Bio</span>
      <span>It is a logn established for fact a reader will be distracted by the readable content a page when looking at its great
        way.</span>
    </div>
    <div class="user_info">
      <span class="span-class-1">Language</span>
      <span>English, Spanish</span>
    </div>
    <div class="user_info">
      <span class="span-class-1">Education</span>
      <span>Harvard University</span>
    </div>
    <div class="user_info">
      <span class="span-class-1">Experience</span>
      <span>7 Years</span>
    </div>
</div>
</ion-content>