page-doctor-profile {
    .item-md.item-block .item-inner{padding-right: 0px;}
    .card-md, .card-ios{width: 100%; margin: 0;}
    .toolbar-background {background: #00b4ff;}
    ion-title{text-align: center;}
    ion-title .toolbar-title{color: #ffffff;}
    .back-button{width:0px;color: #fff;}
    ion-card-title.card-title{font-size: 1.4rem;}
    .no-scroll .scroll-content{overflow: hidden;}
    .profile_img {
        width: 90px;
        height: 90px;
        border-radius: 100%;
        overflow: hidden;
        border: 2px solid #fff;
        display: flex;
        align-items: center;
        justify-content: space-around;
        img{width: 100%;}
    }
    .text_center_flex{    
        display: flex;
        justify-content: space-around;
    }
    .list-header-md, .list-header-ios{border-bottom: 1px solid #ccc;border-top: none;}
    
    .user_info{border-bottom: 1px solid #ddd;;}
    .user_info h6{font-size: 14px;}
    .user_info p{margin: 0px;}

    .user_activity{
        margin-top: 15px;
        img {
            width: 35px;
            margin-left: 10px;
        }
    }
    .user_activity ion-icon{
        background: #00b4ff;
        color: #fff;
        width: 30px;
        border-radius: 50%;
        font-size: 24px;
        padding: 3px;
        margin: 0 30px 0 0;
    }
    .user_activity_label span {
        font-size: 11px;
        margin: 0px 38px 0px -4px;
        width: 5px;
    }
   .item-inner{padding: 0px !important;}
   .label-ios{margin-right: 0px;}
   .user_activity ion-icon{margin: 0 15px;}
   .input-wrapper{
       background: #00b4ff;
       color: #fff;
       h2{font-weight: bold;color: #fff;}
       p{
        color: #fff;
        font-weight: bold;
       }
   }

   .image_container_profile{padding-left:0px;}
}
