page-card-info {
   
    .text-input {
        margin: 0 auto;
        width: 100%;
        border-radius: 7px;
        border: 1px solid #D2D2D2;
        padding: 10px 10px 10px 20px;
        margin-bottom: 15px;
        font-size: 1em;
        font-family: 'helvetica-normal', 'arial', 'sans-serif';
    }
     
    .top{
        background-color: #ffffff;
        max-height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 60px!important;
        p{ padding: 0 50px;}
    }

    .center ion-item{
        padding-left: 15px;
        border: 1px solid #ccc !important;
        border-radius: 5px;
        font-size: 14px;
        color: #999;
        height: 0px; 
        padding-top: 0;
    }
     

}
