<div class="ion-content">
    
    <div class="top" *ngIf="!verificationProcess">
        <div class="circle_icon">
            <img src="assets/img/circle_plus.png" />     
        </div>         
    </div>

    <div class="top" style="background-color: #00B4FF !important;" *ngIf="verificationProcess">
        <div class="circle_icon"> 
            <img src="assets/img/logo.png" />   
        </div>         
    </div> 

    <ion-content>

        <form *ngIf="!verificationProcess" id="registro" class="center" [formGroup]="registerForm" (ngSubmit)="submitRegistration()">

            <label id="registrateYConsultaAUnProvedor-input2">
                <ion-input type="text" placeholder="Nombre" [(ngModel)]='user.FirstName' formControlName="FirstName" [ngClass]="{ 'input_invalid': isSubmitted && check.FirstName.errors }"></ion-input>
            </label>

            <label id="registrateYConsultaAUnProvedor-input3">
                <ion-input type="text" placeholder="Apellido" [(ngModel)]='user.LastName' formControlName="LastName" [ngClass]="{ 'input_invalid': isSubmitted && check.LastName.errors }"></ion-input>
            </label>

            <ion-item class="fecha">
                <ion-label class="label_text">Fecha de Nacimiento</ion-label>
                <ion-datetime class="fechaClick" displayFormat="YYYY-MM-DD" pickerFormat="YYYY MMMM DD" [(ngModel)]="user.DateOfBirth" formControlName="DateOfBirth" cancelText="Cancelar" doneText="Seleccionar" [ngClass]="{ 'input_invalid': isSubmitted && check.DateOfBirth.errors }"></ion-datetime>
            </ion-item>

            <label id="registrateYConsultaAUnProvedor-input5" *ngIf="registration_type">
                <ion-input  type="email" placeholder="Correo Electrónico" [(ngModel)]='user.email' formControlName="email" [ngClass]="{ 'input_invalid': isSubmitted && check.email.errors }"></ion-input>
            </label>

            <label id="registrateYConsultaAUnProvedor-input5" *ngIf="!registration_type">
                <div class="phone_number">

                    <ion-select interface="popover" [(ngModel)]="user.country_code" formControlName="country_code">
                        <ion-option value="PR +1">PR +1</ion-option> 
                        <ion-option value="Ind +91">Ind +91</ion-option> 
                        <ion-option value="Aus +61">Aus +61</ion-option> 
                    </ion-select>
                    

                    <ion-input  type="text" placeholder="Teléfono celular" [(ngModel)]='user.mobilePhone' formControlName="mobilePhone" [ngClass]="{ 'input_invalid': isSubmitted && check.mobilePhone.errors }"></ion-input>
                </div>
            </label>
            

            <label id="registrateYConsultaAUnProvedor-input7">
                <ion-input type="password" placeholder="Contraseña" [(ngModel)]='user.password' formControlName="password" ng-minlength="8" ng-maxlength="20" [ngClass]="{ 'input_invalid': isSubmitted && check.password.errors }"></ion-input>
            </label>

            <label>
                <ion-input ng-model="confirm" type="password" [(ngModel)]='user.c_password' formControlName="c_password" placeholder="Confirmar contraseña" ng-minlength="2" [ngClass]="{ 'input_invalid': isSubmitted && check.c_password.errors }"></ion-input>
            </label>

            <label>
                <ion-segment [(ngModel)]="user.Gender" formControlName="Gender" [ngClass]="{ 'input_invalid': isSubmitted && check.Gender.errors }">
                    <ion-segment-button value="1" style="width:100px;">Hombre</ion-segment-button>
                    <ion-segment-button value="2" style="width:100px;">Mujer</ion-segment-button>
                </ion-segment>
            </label>

            <button type="submit"  class="button">Regístrate</button> 
        </form>

        <form *ngIf="verificationProcess" id="registro" class="center" [formGroup]="verifyForm" (ngSubmit)="tokenVerification()">
            <p>Please enter token in order to verify your cellphone number.</p>
            <div class="phone_number">
                <ion-input type="number" placeholder="Teléfono celular" [(ngModel)]='verf.code' formControlName="code" [ngClass]="{ 'input_invalid': isSubmittedVrfToken && vrfToken.code.errors }"></ion-input>
            </div>
        
        <button type="submit" class="button">Send</button> 
        </form>
    </ion-content>
</div>

<ion-footer>
    <div class="bottom">
        <label>&iquest;Ya tienes cuenta?
            <span class="link" (click)="goToLogin()">Entrar aquí.</span>
        </label>
    </div>
</ion-footer>