page-register-account {
  .ion-ios-person:before {
    font-size: 80px;
    color: #ffffff;
    width: 80px;
    text-align: center;
    height: 80px;
    padding: 10px;
    border-radius: 500px;
    background-color: #e8e8ea;
  }
  .no-scroll .scroll-content{
    overflow: hidden;
  }
    .label_text{
        text-align:left;
        font-family: 'helvetica-normal', 'arial', 'sans-serif';
        font-size: 1em;
        color: #9E9E9E;
        margin: 0px;
      }  
      .radio-button{
        color: #9E9E9E;
        font-size: 1em;
        display: inline-block;
        vertical-align: top;
        padding:15px 0 15px 0;
        input{
          display: inline;
          vertical-align: top;
        }
      }
      .no-scroll .scroll-content{
        overflow: hidden;
        }
        .text-input-ios {
        margin: 0 auto;
        width: 100%;
        padding: 10px 10px 10px 20px;
      }
      .text-input {
        margin: 0 auto;
        width: 100%;
        border-radius: 5px;
        border: 1px solid #d9d9d9;
        color: #555555;
        padding: 10px;
        height: 44px;
        margin-bottom: 15px;
        font-size: 14px;
        font-family: 'helvetica-normal', 'arial', 'sans-serif';
      }
      .select-ios {
        width: 30%;
        display:inline-block;
        border-radius:5px;
        border:1px solid #d9d9d9;
        padding:5px;
        margin: 5px 5px 0 0;
        font-size: 14px;
        font-family: 'helvetica-normal', 'arial', 'sans-serif';
        text-align: center;
        color: #9E9E9E;
      }
      ion-select {        
        max-width: 100%;
      }
      .select-item{
        width: 30%;
        display:inline-block;
        border-radius:7px;
        border:1px solid #D2D2D2;
        padding:7px 20px;
        margin: 0px 5px 0 0;
        font-size: 1em;
        font-family: 'helvetica-normal', 'arial', 'sans-serif';
        text-align: left;
        color: #9E9E9E;
      }
      .item-cover {
        position: absolute;
        top: 0;
        left: 0;
        width: 0%;
        height: 0%;
        background: transparent;
        cursor: pointer;
      }
      .select-ios .select-icon {
        position: relative;
        width: 12px;
        height: 18px;
        display: inline-block;
        vertical-align: top;
      }
      .select-md .select-icon {
        position: relative;
        width: 12px;
        height: 18px;
        display: inline-block;
        vertical-align: top;

      }
      .select-text {
        display: inline-block;
      }
      .separador{
        height: 8px;
        width:100%;
      }  
      .scroll-content{
        margin-top: 0px !important;
        overflow: visible;
      }
      .fecha {
        margin: 0 auto;
        width: 100%;
        border-radius: 5px;
        border: 1px solid #D9D9D9;
        padding: 0px 10px;
        height: 44px;
        margin-bottom: 10px;
        font-size: 14PX;
        font-family: 'helvetica-normal', 'arial', 'sans-serif';
        position: relative;
      }
      .datetime-md {
        padding: 0PX;
      }
      .item-ios.item-block .item-inner, .item-md.item-block .item-inner{
        border-bottom: none;
      }
      .item-block{
        min-height: 3.9rem;
      }
      .platform-ios .circle_icon span{ 
        top: 5px !important;
      }
      .top{
        height: auto !important;
        padding: 35px 0px 5px 0px !important;
        background-color: #ffffff;
        margin-top: 0;
        p{ padding: 0 50px;}
      }
      .datetime-text {
        color: #a1a1a1;
      }
      .radio-ios{
        background-color: white;
        border-radius: 50%;
        border:2px solid #bdbdbd;
        width: 25px;
        height: 25px;
        margin-right: 18px;
        top:2px;
        left:9px;
      }
      .bottom {
        padding: 28px;
        border-top: none; 
        height: 60px; 
        background: #fff;
      }
      .toolbar-ios, .toolbar-md {
        padding: 4px;
        padding-left: 4px;
        padding-right: 4px;
        min-height: 44px;
      }
      .button{
        margin: 5px 0 10px 0 !important; 
        font-weight: bold;
      }
      .center{
        padding: 0 35px;
        margin: 0 auto !important;
      }
      .phone_number .input_invalid {
        border: 1px solid red;
        border-radius: 4px;
      }

      .input-cover{
        position: relative !important;
      }
      .phone_number{
        border: 1px solid #D2D2D2;
        margin: 0 0 10px 0;
        border-radius: 5px;
        display: flex;
        position: relative;
        .select-ios{
          border: 0px;
          width: 60px;
          display: inline-block;
          padding: 5px 0px 0 6px;
          font-size: 12px; margin: 0px;
          border-right: 1px solid #d2d2d2;
          border-radius: 0px;    color: #0084ff;
          .select-icon{display: none;}
          .select-text { padding-top: 7px;}
        }
        .select-md{
          border: 0px;
          width: 60px;
          padding: 11px 0px 0 6px;
          display: inline-block;
          font-size: 12px; margin: 0px;
          border-right: 1px solid #d2d2d2;
          border-radius: 0px;    
          color: #0084ff;
          .select-icon{
            display: none;
          }
          .select-text { 
            padding-top: 0px;
          }
        }
        .text-input{
          width:100%;
          display: inline-block;
          margin: 0px;
          border: 0px;
        }
        ion-icon{
          color: #a1a1a1;
          font-size: 14px;}
      }
      .top-icon .circle_icon{
          position: relative;
          width:90px;
          margin: 0px auto;
      }
      .circle_icon img {
        width: 87px;
        border-radius: 50%; 
        padding: 0px !important
      }
      .top{
        height: auto !important;
      }
      .camera-span{    
        background: #e8e8ea;
        right: 0px;
        bottom: 9px;
        position: absolute;
        border-radius: 50%;
        cursor: pointer;
        padding: 0px;
        height: 22px;
        width: 22px;
        border: 2px solid #ffffff;}
      .camera-span i.fas{
        color: #a1a1a1 !important;
      }
      .datetime{
        border-radius: 5px;
      }
      .segment{
        display: -webkit-inline-box;
        display: -webkit-inline-flex;
        display: -ms-inline-flexbox;
        display: inline-flex;
        padding: 0;
        margin: 0 0 10px 0;
        border-radius: 5px;
        -webkit-box-shadow: none;
        box-shadow: none;
      }
      .segment-button.segment-activated{
        color: #fff !important;
        background-color: #0084ff !important;
      }
      .segment-ios .segment-button:first-of-type, .segment-md .segment-button:first-of-type {
        border-top-left-radius: 5px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 5px;
        margin-right: 0;
      }
      .segment-ios .segment-button:last-of-type, .segment-md .segment-button:last-of-type{
        border-top-left-radius: 0px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 0px;
        margin-right: 0;
      }
      .datetime.input_invalid, .segment.input_invalid{
        border: 1px solid red;
      }
      .segment-ios .segment-button, .segment-md .segment-button{
        border: 1px solid #0084ff; 
        color: #0084ff !important;
        height: 44px;
        line-height: 43px;
        font-size: 14px;
        font-weight: normal;
      }
      .segment-md .segment-button {
        text-transform: none;
        font-size: 14px;
        opacity: 1;
      }
      .segment-md .segment-button:first-of-type, .segment-md .segment-button:first-of-type {
        border-right: none;
      }
      .segment-button.segment-activated{
        color: #fff !important;
        font-weight: normal;
      }
      .datetime-ios .datetime-placeholder{
        color: #555555;
      }
      .ion-ios-contact{
        font-size: 100px;
        color: #e8e8ea;
      }
      .ion-ios-camera{
        font-size: 12px;
      }

}