page-feed {
    

        /* Common css*/
        .card-md, .card-ios{width: 100%;margin: 0;}
        /* Ended common css*/

        ion-buttons {margin: 0;}
        .bar-button-default-md, .bar-button-default-ios{color: #fff;}
        .toolbar-md{padding: 0px;}
    
        ion-row.comment-like-text.row {
            padding: 7px 12px;
            border-bottom: 1px solid #ddd;
            font-size: 12px;
            color: #524d4d;
        }

        .bar-buttons-ios .bar-button-default-ios{height: 37px;}
        .comment_container{border-top: 1px solid #ddd;}
        .parent_comment img, .child_comment img{
            border-radius: 50%;
            overflow: hidden;
            width: 40px;
            height: 40px;
            float:left;
            margin: 0 10px 0 0;
        }
        .child_comment{margin-left: 20px;margin-top: 10px;}
        .child_comment_form{margin-top: 10px;}
        .comment_form{border-top: 1px solid #ddd;}
        .comment_form ion-row{border-bottom: 1px solid #ddd;}
        .feed_show{display:block !important;}
        .feed_hidden{display:none !important;}
        .comment_container .time_ago{float:right;font-size: 10px;}
        .comment_activities .comment_liked{
            color: #00b4ff;
            font-size: 13px;
        }
        .comment_activities .comment_unliked{
            color: #443f3f;
            font-size: 13px;
        }
        .comment_activities .common_span{
            color: #443f3f;
            font-size: 13px;
        }

        .top-little img {
            padding-top: 0px;
        }

        .subcomment_text{padding:0;}
        .subcomment_text input{
            border: 1px solid #ddd;
            padding: 3px;
            width: 96%;
            height: 30px;
        }
    }
    
    
    
    