<ion-header>
  <ion-navbar>
    <ion-title>{{title}}</ion-title>
    <ion-buttons end>
      <button ion-button color="royal">
          <ion-icon name="cloud-upload"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>



  <!-- Handling Diagnostics -->
  <div *ngIf="type=='diagnostics'">

    <ion-row class="top-element">
      <ion-col col-6>
        <p>Diagnostico</p>
      </ion-col>
      <ion-col col-3>
        <p>Comienzo</p>
      </ion-col>
      <ion-col col-3 center text-center>
        <p>Fin</p>
      </ion-col>
    </ion-row>

    <ion-row class="top-element" style="background:none;" *ngIf="isLoading">
      <ion-col col-12 center text-center>
        <ion-spinner></ion-spinner>
      </ion-col>
    </ion-row>


    <div id="listContainer" *ngIf="!isLoading">
      <ion-row class="inner-element" *ngFor="let item of diagList">
        <ion-col col-6>
          <p>{{item.acuity}}</p>
        </ion-col>
        <ion-col col-3>
          <span>{{item.start_date}}</span>
        </ion-col>
        <ion-col col-3 center text-center>
          <span>{{item.end_date}}</span>
        </ion-col>
      </ion-row>
    </div>
    <ion-row class="inner-element no-border" *ngIf="diagList?.length < 1">
      <ion-col col-12>
        <p>{{no_data_found}}</p>
      </ion-col>
    </ion-row>
  </div>

  <!-- Handling Social History  -->
  <div *ngIf="type=='social_history'">

    <ion-row class="top-element">
      <ion-col col-9>
        <p>comentario</p>
      </ion-col>
      <ion-col col-3>
        <p>fecha</p>
      </ion-col>
    </ion-row>

    <ion-row class="top-element" style="background:none;" *ngIf="isLoading">
      <ion-col col-12 center text-center>
        <ion-spinner></ion-spinner>
      </ion-col>
    </ion-row>

    <div id="listContainer" *ngIf="!isLoading">
      <ion-row class="inner-element" *ngFor="let item of diagList">
        <ion-col col-9>
          <p>{{item.comment}}</p>
        </ion-col>
        <ion-col col-3>
          <span>{{item.effective_date}}</span>
        </ion-col>
      </ion-row>
    </div>

    <ion-row class="inner-element no-border" *ngIf="diagList?.length < 1">
      <ion-col col-12>
        <p>{{no_data_found}}</p>
      </ion-col>
    </ion-row>
  </div>

  <!-- Handling Past Medical History  -->
  <div *ngIf="type=='past_medical_history'">
    <div class="user_info" padding>
      <h6>Mayor event</h6>
      <p>{{pmh.mayor_event}}</p>
    </div>
    <div class="user_info" padding>
      <h6>Developmental History</h6>
      <p>{{pmh.developmental_history}}</p>
    </div>
    <div class="user_info" padding>
      <h6>Nutrition History</h6>
      <p>{{pmh.nutrition_history}}</p>
    </div>
    <div class="user_info" padding>
      <h6>Social History</h6>
      <p>{{pmh.social_history}}</p>
    </div>
    <div class="user_info" padding>
      <h6>Preventive Care</h6>
      <p>{{pmh.preventive_care}}</p>
    </div>
    <div class="user_info" padding>
      <h6>Family Health History</h6>  
      <p>{{pmh.family_health_history}}</p>
    </div>
    <div class="user_info" padding>
      <h6>Ongoing Medical Problem</h6>
      <p>{{pmh.on_going_medical_problem}}</p>
    </div>
  </div>



  <!-- Handling Advance Directives  -->
  <div *ngIf="type=='adv_directives'">
    <ion-row class="top-element">
      <ion-col col-9>
        <p>Directive</p>
      </ion-col>
      <ion-col col-3>
        <p>Date</p>
      </ion-col>
    </ion-row>

    <ion-row class="top-element" style="background:none;" *ngIf="isLoading">
      <ion-col col-12 center text-center>
        <ion-spinner></ion-spinner>
      </ion-col>
    </ion-row>
    <div id="listContainer" *ngIf="!isLoading">
      <ion-row class="inner-element" *ngFor="let item of diagList">
        <ion-col col-9>
          <p>{{item.adv_dir_name}}</p>
        </ion-col>
        <ion-col col-3>
          <span>{{item.record_date}}</span>
        </ion-col>
      </ion-row>
    </div>
    <ion-row class="inner-element no-border" *ngIf="diagList?.length < 1">
      <ion-col col-12>
        <p>{{no_data_found}}</p>
      </ion-col>
    </ion-row>
  </div>

  <!-- Handling Allergies  -->
  <div *ngIf="type=='allergies'">
    <ion-row class="top-element">
      <ion-col col-9>
        <p>Name</p>
      </ion-col>
      <ion-col col-3>
        <p>Reaction</p>
      </ion-col>
    </ion-row>

    <ion-row class="top-element" style="background:none;" *ngIf="isLoading">
      <ion-col col-12 center text-center>
        <ion-spinner></ion-spinner>
      </ion-col>
    </ion-row>
    <div id="listContainer" *ngIf="!isLoading">
      <ion-row class="inner-element" *ngFor="let item of diagList">
        <ion-col col-9>
          <p>{{item.Name}}</p>
        </ion-col>
        <ion-col col-3>
          <span>{{item.Reaction}}</span>
        </ion-col>
      </ion-row>
    </div>
    <ion-row class="inner-element no-border" *ngIf="diagList?.length < 1">
      <ion-col col-12>
        <p>{{no_data_found}}</p>
      </ion-col>
    </ion-row>
  </div>


  <!-- Handling Medications -->
  <div *ngIf="type=='medications'">
      
    <ion-row class="top-element">
      <ion-col col-6>
        <p>Medicamentos</p>
      </ion-col>
      <ion-col col-3>
        <p>Comienzo</p>
      </ion-col>
      <ion-col col-3 center text-center>
        <p>Fin</p>
      </ion-col>
    </ion-row>

    <ion-row class="top-element" style="background:none;" *ngIf="isLoading">
      <ion-col col-12 center text-center>
        <ion-spinner></ion-spinner>
      </ion-col>
    </ion-row>


    <div id="listContainer" *ngIf="!isLoading">
      <ion-row class="inner-element" *ngFor="let item of diagList">
        <ion-col col-6>
          <p>{{item.DisplayName}}</p>
        </ion-col>
        <ion-col col-3>
          <span>{{item.WrittenDate | date:'d-MM-y'}}</span>
        </ion-col>
        <ion-col col-3 center text-center>
          <span>NA</span>
        </ion-col>
      </ion-row>
    </div>
    <ion-row class="inner-element no-border" *ngIf="diagList?.length < 1">
      <ion-col col-12>
        <p>{{no_data_found}}</p>
      </ion-col>
    </ion-row>
  </div>

</ion-content>
