<div class="app-main" [ngClass]="{hide: isCall}">
  <ion-menu [content]="content" persistent="true">
    <ion-content>
      <div class="bg-block nav-lt" menuClose (click)="getProfile()">
        <div class="user-img">
          <img [src]="avatar" height="60">
        </div>
        <div class="user-name">{{user.firstName}} {{user.lastName}}</div>
      </div>
      <ion-list no-lines class="left-nav">
        <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
          {{p.title}}
        </button>
        <button menuClose ion-item (click)="logout()">Salir</button>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
</div>

<div class="window-call" id="window-call" *ngIf="isCall" [ngClass]="{calling: remoteStream}">
  <!-- <div *ngIf="localStream">
    <video [src]="localStream.src | safe:'url'" muted="muted" id="localVideo"></video>
  </div> -->

  <video [src]="localStream.src | safe:'url'" playsinline autoplay muted="muted" id="local-video" *ngIf="localStream" class="resize-drag"></video>

  <video [src]="remoteStream.src | safe:'url'" playsinline autoplay id="remote-video" *ngIf="remoteStream"></video>

  <!-- <div *ngIf="localStream" [ngClass]="{'invisible': remoteStream && !option.video}">
    <video [src]="remoteStream.src | safe:'url'" autoplay id="remote-video"></video>
  </div> -->
  <div style="position: absolute;top: 40%;width: 100%;    color: #fff;
  font-weight: bold;">
    <div class="only-audio" *ngIf="remoteStream && !option.video">
      {{receive.name}} Audio
    </div>
    <div class="calling-info" *ngIf="receive && receive.name && !remoteStream">
      <div class="name-call">{{receive.name}}</div>
      <div *ngIf="option && option.video">Video Calling</div>
      <div *ngIf="option && !option.video">Audio Calling</div>
    </div>
  </div>
  <!-- <div class="box-video" [ngClass]="{'audio': remoteStream && !option.video}">
    <div *ngIf="remoteStream" id="remote-video">
      <video [src]="remoteStream.src | safe:'url'" autoplay></video>

      <div class="only-audio">
        {{receive.name}} Audio
      </div>
    </div>
    <div class="calling-info" *ngIf="receive && receive.name && !remoteStream">
      <div class="name-call">{{receive.name}}</div>
      <div *ngIf="option && option.video">Video Calling</div>
      <div *ngIf="option && !option.video">Audio Calling</div>
    </div>
  </div> -->

  <div class="button-action horizontal layout center center-justified">
    <div class="">
      <button class="button button-close" (click)="closeCallUser($event)">
        <ion-icon name="close" *ngIf="!remoteStream"></ion-icon>
        <ion-icon name="ios-call-outline" *ngIf="remoteStream"></ion-icon>
      </button>
      <button class="button button-default" *ngIf="remoteStream">
        <ion-icon name="ios-mic-outline"></ion-icon>
      </button>
      <!-- <button class="button button-warning" (click)="zoomVideo()">
        <ion-icon name="md-contract"></ion-icon>
      </button> -->

      <button class="button button-accept" (click)="startCall()" *ngIf="!localStream">
        <ion-icon name="ios-call-outline"></ion-icon>
      </button>
    </div>
  </div>

</div>