body {
  background-color: white;
  font-size: 1em;
  font-family: "Open Sans", sans-serif;
  color: #919191;
}

p {
  font-size: 1em;
}

.ion-content {
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

input {
  margin: 0 auto;
  width: 100%;
  border-radius: 7px;
  border: 1px solid #d2d2d2;
  padding: 10px 10px 10px 20px;
  margin-top: 10px;
  font-family: "helvetica-normal", "arial", "sans-serif";
}

.input_invalid .text-input {
  border: 1px solid rgb(219, 77, 77);
}
.file_invalid {
  border: 1px solid rgb(219, 77, 77);
}

button {
  width: 100%;
  margin: 0 auto;
  background-color: #00b4ff;
  display: block;
  color: white;
  padding: 0 10px;
  height: 33px;
  border-radius: 7px;
  font-size: 1em;
  margin-bottom: 10px;
  margin-top: 10px;
}

.button_white {
  background-color: white;
  color: #00b4ff;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "helvetica-normal", "arial", "sans-serif";
}

p {
  font-size: 1em;
  color: #464646;
}

.center {
  margin: 0 auto;
  margin: 0 5% 0 5%;
}

.top {
  background-color: #00b4ff;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 150px;
  text-align: center;
  padding: 15px;
  padding-top: 20px;
  p {
    color: white;
    font-weight: 200;
    font-size: 13px;
    margin: 24px 0 0 0;
    padding: 0;
  }
}

.bar-button-ios[icon-only] ion-icon {
  color: #585757;
}
ion-icon.ion-ios-add,
ion-icon.ion-md-add {
  color: #585757;
}
ion-icon.ion-ios-create,
ion-icon.ion-md-create {
  color: #585757;
}
ion-icon.ion-ios-trash,
ion-icon.ion-md-trash {
  color: #585757;
}
ion-icon.ion-ios-checkmark,
ion-icon.ion-md-checkmark {
  color: #585757;
}
ion-icon.ion-ios-cloud-upload,
ion-icon.ion-md-cloud-upload {
  color: #585757;
}
ion-icon.ion-ios-mic-outline,
ion-icon.ion-md-mic-outline {
  color: #585757;
}
ion-icon.ion-ios-videocam-outline,
ion-icon.ion-md-videocam-outline {
  color: #585757;
}
ion-icon.ion-ios-create-outline,
ion-icon.ion-md-create-outline {
  color: #585757;
}

ion-icon.ion-ios-more,
ion-icon.ion-md-more {
  font-weight: bold;color: #0f0f0f; font-size: 20px;
}
.action-sheet-group .action-sheet-button{font-size: 1.5rem;}

.top-little {
  width: 100%;
  height: 65px;
  padding: 10px;
  position: relative;
  top: 0;
  left: 0;
  text-align: center;
  img {
    width: 30px;
    padding-top: 10px;
  }
}

.bottom {
  margin: 0;
  padding: 10px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 2px solid #e5e5e5;
  background-color: #f1f1f1;
  text-align: center;
  color: #757575;
  font-size: 1em;
  .link {
    color: #00b4ff;
  }
}

.button-nav-bar {
  display: inline-block;
  background-color: transparent;
  width: 24%;
  margin: 0;
  padding: 0;
  height: 40px;
  border: none;
}

.btn-volver {
  width: 90px;
  height: 20px;
  display: inline-block;
  position: absolute;
  left: 0px;
  bottom: 7px;
  line-height: 0;
  p {
    display: inline-block;
    color: white;
    font-size: 1em;
  }
  &:hover {
    cursor: pointer;
  }
}

.btn-continuar {
  width: 90px;
  height: 20px;
  display: inline-block;
  position: absolute;
  right: 0px;
  bottom: 7px;
  line-height: 0;
  p {
    display: inline-block;
    color: white;
    font-size: 1em;
  }
  &:hover {
    cursor: pointer;
  }
}

.nav-arrow {
  color: white;
  vertical-align: middle;
  font-size: 2em;
  line-height: 0;
  padding-top: 2px;
}

.nav-tittle {
  display: inline-block;
  color: white;
  font-size: 1em;
  text-align: center;
  width: auto;
  position: relative;
  bottom: 5px;
  padding: 0;
  margin-top: 39px;
}

.new-mail {
  color: white;
  font-size: 1em;
  position: absolute;
  top: -10px;
  right: 10px;
}

.space {
  width: 100%;
  height: 150px;
}

.steps {
  width: 100%;
  text-align: center;
  padding: 20px;
}

.line {
  background-color: #d2d2d2;
  width: 30px;
  height: 5px;
  display: inline-block;
  vertical-align: middle;
  margin: 0 -5px 0 -4px;
  z-index: 0;
}

.step {
  background-color: #d2d2d2;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  z-index: 2000;
}

.green {
  background-color: #73cf42;
  color: white;
  font-size: 0.9em;
  font-weight: 800;
  padding-top: 2px;
}

.blue-step {
  background-color: #00b4ff;
}

.checkbox {
  display: inline-block;
  width: 10%;
  vertical-align: middle;
}

.p-checkbox {
  display: inline-block;
  width: 85%;
  font-size: 1em;
  a {
    color: #00b4ff;
    &:hover {
      cursor: pointer;
    }
  }
}

.line-checkbox {
  display: inline-block;
  width: 20%;
  font-size: 1em;
  margin-top: 12px;
  vertical-align: middle;
}

ion-checkbox {
  vertical-align: middle;
}

.select-item {
  width: 30%;
  border-radius: 7px;
  border: 1px solid #d2d2d2;
  padding: 5px;
  margin: 5px 5px 0 0;
  font-size: 1em;
  font-family: "helvetica-normal", "arial", "sans-serif";
  text-align: center;
  color: #9e9e9e;
}

.select-item-completo {
  width: 100%;
}

.item-reason {
  width: 100%;
  border-top: 1px solid #d2d2d2;
  padding: 5px;
  padding-left: 25px;
}

.bold {
  font-weight: 800;
}

ion-toolbar {
  border-top: 1px solid #ddd;
}

.alert-ios .alert-sub-title {
  text-align: left;
}

.alert-ios .alert-sub-title ul li {
  margin-left: -20px;
}

ion-backdrop {
  opacity: 0.7 !important;
}

.statusbar {
  background-color: transparent !important;
}

#iphone-frame .statusbar {
  background-color: transparent !important;
}

.list-ios,
.list-md {
  margin: 0;
}

.fechaClick {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: right !important;
}

/******************* CHAT *************************/

html .layout.horizontal,
html .layout.vertical {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

html .layout.horizontal.inline,
html .layout.vertical.inline {
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
}

html .layout.horizontal {
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
}

html .layout.horizontal.reverse {
  -ms-flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

html .layout.vertical {
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}

html .layout.vertical.reverse {
  -ms-flex-direction: column-reverse;
  -webkit-flex-direction: column-reverse;
  flex-direction: column-reverse;
}

html .layout.wrap {
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

html .layout.wrap-reverse {
  -ms-flex-wrap: wrap-reverse;
  -webkit-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse;
}

html .flex {
  -ms-flex: 1 1 0;
  -webkit-flex: 1;
  flex: 1;
  -webkit-flex-basis: 0;
  flex-basis: 0;
  vertical-align: middle;
}

html .vertical.layout > .flex.auto-vertical,
html .vertical.layout .flex.auto-vertical {
  -ms-flex: 1 1 auto;
  -webkit-flex-basis: auto;
  flex-basis: auto;
}

html .flex.auto {
  -ms-flex: 1 1 auto;
  -webkit-flex-basis: auto;
  flex-basis: auto;
}

html .flex.none {
  -ms-flex: none;
  -webkit-flex: none;
  flex: none;
}

html .flex.one {
  -ms-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}

html .flex.two {
  -ms-flex: 2;
  -webkit-flex: 2;
  flex: 2;
}

html .flex.three {
  -ms-flex: 3;
  -webkit-flex: 3;
  flex: 3;
}

html .flex.four {
  -ms-flex: 4;
  -webkit-flex: 4;
  flex: 4;
}

html .flex.five {
  -ms-flex: 5;
  -webkit-flex: 5;
  flex: 5;
}

html .flex.six {
  -ms-flex: 6;
  -webkit-flex: 6;
  flex: 6;
}

html .flex.seven {
  -ms-flex: 7;
  -webkit-flex: 7;
  flex: 7;
}

html .flex.eight {
  -ms-flex: 8;
  -webkit-flex: 8;
  flex: 8;
}

html .flex.nine {
  -ms-flex: 9;
  -webkit-flex: 9;
  flex: 9;
}

html .flex.ten {
  -ms-flex: 10;
  -webkit-flex: 10;
  flex: 10;
}

html .flex.eleven {
  -ms-flex: 11;
  -webkit-flex: 11;
  flex: 11;
}

html .flex.twelve {
  -ms-flex: 12;
  -webkit-flex: 12;
  flex: 12;
}

html .layout.start {
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}

html .layout.center,
html .layout.center-center {
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

html .layout.end {
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
}

html .layout.start-justified {
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}

html .layout.center-justified,
html .layout.center-center {
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

html .layout.end-justified {
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}

html .layout.around-justified {
  -webkit-justify-content: space-around;
  justify-content: space-around;
}

html .layout.justified {
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

html .self-start {
  -ms-align-self: flex-start;
  -webkit-align-self: flex-start;
  align-self: flex-start;
}

html .self-center {
  -ms-align-self: center;
  -webkit-align-self: center;
  align-self: center;
}

html .self-end {
  -ms-align-self: flex-end;
  -webkit-align-self: flex-end;
  align-self: flex-end;
}

html .self-stretch {
  -ms-align-self: stretch;
  -webkit-align-self: stretch;
  align-self: stretch;
}

html .block {
  display: block;
}

html .hidden {
  display: none !important;
}

html .relative {
  position: relative;
}

html .fit {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

body.fullbleed {
  margin: 0;
  height: 100vh;
}

html .segment,
html segment {
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  margin: 1em 0.5em;
  padding: 1em;
  background-color: #fff;
  -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.text-center {
  text-align: center;
}

.bar-button-md {
  border-radius: 0px;
}

.toolbar-background {
  background: transparent !important;
  border-bottom: 2px solid #ddd !important;
}

.no-padding {
  padding: 0;
}
.bg-block.nav-lt {
  padding: 1rem 0;
  background: #00b4ff;
}
.bg-block.nav-lt .user-img {
  width: 60px;
  height: 60px;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto;
}
.bg-block.nav-lt .user-name {
  text-align: center;
  padding-top: 1rem;
  font-weight: 600;
  font-size: 1.8rem;
  color: #fff;
}
.user-name:first-letter {
  text-transform: capitalize;
}
.left-nav button {
  border-bottom: 1px solid #ccc !important;
}

span.back-button-text.back-button-text-ios {
  margin-left: 10px;
}

.back-button.show-back-button {
  width: 40px;
}
.back-button-icon-ios {
  font-size: 2.4rem;
  color: #585757;
}

.bottom .link {
  color: #00b4ff;
  font-weight: bold;
  font-size: 12px;
}

.right_button button {
  color: #585757;
  font-size: 2.1rem;
  font-weight: normal;
}

.alert-ios .alert-button,
.alert-md .alert-button {
  float: left;
  width: 50%;
}

span.back-button-text.back-button-text-ios {
  font-weight: bold;
  font-size: 12px;
}
.clearfix {
  display: block;
  width: 100%;
  float: left;
}
.card-md {
  box-shadow: none;
  border-bottom: 1px solid #ddd;
}
.label-md,
.label-ios {
  margin: 8px 0px 8px 0;
}
.header-md::after {
  content: none;
}
.searchbar-md .searchbar-clear-icon,
.searchbar-ios .searchbar-clear-icon {
  right: 26px;
  top: 4px;
  background-size: 16px;
}
.toolbar-title-md {
  font-size: 18px;
}

.toolbar-title-ios {
  text-align: center;
  font-size: 1.3rem;
  font-weight: 600;
  color: #585757 !important;
  pointer-events: auto;
}

.tab-button[aria-selected="true"] .tab-button-icon {
  color: #00b4ff;
}

.circle_icon ul li:after {
  width: 38px !important;
}

.main-footer {
  bottom: 0px !important;
}
.main-footer .toolbar-title {
  font-size: 1.3rem;
}

ion-tabs .tabbar {
  background: #f7f7f7 !important;
}
ion-footer {
  .toolbar-background {
    background: transparent !important;
  }
  .toolbar-title {
    color: #e23c3c !important;
    font-weight: normal;
    font-weight: bold;
    font-size: 12px;
  }
}
.no_data {
  display: inline-block;
  width: 100%;
  text-align: center;
  padding-top: 200px;
  font-size: 14px;
  font-weight: bold;
  border-top: 1px solid #d9d9d9;
}

.no_data_found {
  display: inline-block;
  width: 100%;
  text-align: center;
  padding-top: 200px;
  font-size: 14px;
  font-weight: bold;
}

ion-header .top {
  margin-top: 0px !important;
}

ion-title .toolbar-title {
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user_image {
  display: flex;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 1px solid #fff;
  overflow: hidden;
  margin-right: 10px;
  justify-content: center;
  align-items: center;
  img {
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
  }
}

.name-call {
  font-size: 19px;
  text-align: center;
  font-weight: bold;
}

.loadingSpinner {
  text-align: center;
}
.loadingSpinner p.searchError {
  border: 1px solid #cc6e6e;
  padding: 3px;
  color: #cc6e6e;
  float: left;
  width: 100%;
}

.calling-info {
  text-align: center;
}

.calling-info {
  position: relative;
  top: 40px;
}

button {
  -webkit-tap-highlight-color: #fff;
}

.user_info .item {
  min-width: 45px !important;
  height: 45px !important;
}
.user_info .item:hover {
  background: transparent;
}
.user_info .item {
  min-width: 45px !important;
  height: 45px !important;
}
.user_info .item:hover {
  background: transparent;
}
.toolbar-title.toolbar-title-md {
  color: #424242;
}
ion-app {
  background-color: transparent !important;
}

.tab-content-app {
  &.hidden {
    display: none;
  }
}

.view-call {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #000;
  color: #fff;
  text-align: center;

  &.active {
    display: block;

    &.bg-display {
      background-color: transparent !important;
    }
  }

  .calling {
    margin-top: 120px;
    .img {
      border-radius: 50%;
      border: 2px solid #f1f1f1;
      width: 120px;
      height: 120px;
      overflow: hidden;
      margin: 0 auto;
      margin-bottom: 20px;
      img {
        width: 100%;
        height: 100%;
      }
    }

    .name {
      font-weight: bold;
      font-size: 20px;
      margin-bottom: 10px;
    }

    .option {
      font-size: 14px;
      color: #999;
    }
  }

  .button-action {
    position: fixed;
    bottom: 70px;
    width: 100%;

    button {
      width: 80px;
      height: 45px;
    }

    .button-md-danger {
      color: #fff;
    }
  }

  #local-video {
    width: 90px;
    height: 120px;
    position: absolute;
    top: 30px;
    left: 10px;
    object-fit: contain;
  }

  #remote-video {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -2;

    &.desktop {
      object-fit: contain;
    }
  }
}

ion-app {
  background-color: transparent !important;
}

.ios .ion-page.show-page ~ .nav-decor {
  background-color: transparent !important;
}

.close-call {
  ion-icon {
    transform: rotate(135deg);
  }
}

.close-call {
  background-color: #f53d3d !important;

  &:active,
  &:focus,
  &:hover {
    background-color: #f53d3d !important;
  }
}

body.call-minize {
  .view-call.active {
    display: none !important;
  }

  .tab-content-app.hidden {
    display: block !important;
  }

  .toolbar-title {
    ion-icon {
      display: none !important;
    }
  }

  .toolbar-title ion-icon {
    &.icon-open-call {
      display: block !important;
    }
  }
}

.start-call {
  background-color: #50ba69 !important;
  ion-icon {
    transform: rotate(-90deg);
  }
}

.action-list {
  position: fixed;
  width: 100%;
  bottom: 10px;
  display: flex;
  button {
    background-color: transparent !important;
    margin: 0 10px;
    color: #fff !important;

    ion-icon {
      font-size: 28px;
    }
  }
}

.get-back-button {
  background-color: #f53d3d !important;
  font-size: 20px !important;
  display: none;
  position: fixed;
  width: 50px;
  height: 50px;
  right: 20px;
  bottom: 60px;
}

body.call-minize {
  .get-back-button {
    display: block;
  }
}
