<ion-header>
  <ion-navbar>
    <ion-title><span class="user_image"><img [src]="user_picture" alt="picture"/></span>Historial Medico</ion-title>
    <ion-buttons end class="right_button" (click)="medicalHistoryPhase4()">
      <button ion-button color="royal">Continuar</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
      <div class="pad_rlt_25">

          <div class="circle_icon">
            <ul>
              <li class="active fill">
                <ion-icon name="checkmark"></ion-icon>
              </li>
              <li class="active fill">
                <ion-icon name="checkmark"></ion-icon>
              </li>
              <li class="active fill"><ion-icon name="checkmark"></ion-icon></li>
              <li class="active">4</li>
              <li>5</li>
              <li>6</li>
              <li>7</li>
              <li>8</li>
            </ul>
          </div>



        <div class="clearfix"><span class="form_label">Añada los medicamentos que esta tomando.</span></div>

        <div class="clearfix loadingSpinner" *ngIf="isLoading">
            <ion-spinner></ion-spinner>
        </div>

        <div class="check_section">
            <ion-searchbar [(ngModel)]="searchQuery" (ionInput)="getItems($event)" placeholder="Buscar, p. ej. dolor de cabeza"></ion-searchbar>
        </div>

        <ul class="searchedListing">
            <li (click)="selectItem(item.Name)" *ngFor="let item of items">{{ item.Name }} <a href="#"></a></li>
        </ul>

        <ul class="search_tag" *ngIf="disease?.length > 0">
          <li *ngFor="let des of disease">{{des}} <a href="#" (click)="removeItem(des)"></a></li>
        </ul>

      </div>

</ion-content>

<ion-footer class="main-footer">
    <ion-toolbar (click)="cancle()">
      <ion-title>Cancelar proceso</ion-title>
    </ion-toolbar>
  </ion-footer>

