page-medical-history {
  .toolbar-background {
    background: #00b4ff;
  }
  ion-title {
    text-align: center;
  }
  ion-title .toolbar-title {
    color: #ffffff;
  }
  .back-button {
    width: 0px;
    color: #fff;
  }
  ion-card-title.card-title {
    font-size: 1.4rem;
  }
  .top {
    /* height: 150px !important;
        padding: 64px 0 !important; */
    padding: 92px 0 !important;
    background-color: #ffffff;
    p {
      padding: 0 50px;
    }
  }
  .center h6 {
    color: #847676
  }
  .circle_icon ul {
    padding: 0;
    margin: 14px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .circle_icon ul li {
    list-style: none;
    padding: 0px;
    line-height: 15px;
    font-size: 10px;
    font-weight: bold;
    width: 15px;
    height: 15px;
    text-align: center;
    background: #ededed;
    border-radius: 100%;
    color: #fff;
    position: relative;
  }
  .circle_icon ul li.active {
    background: #00b4ff;
  }
  .circle_icon ul li:after {
    content: '';
    position: absolute;
    top: 7px;
    height: 2px;
    background: #ededed;
    left: 15px;
    width: 45px;
    z-index: 0;
  }
  .circle_icon ul li:last-child:after {
    content: none;
  }
  .circle_icon ul li.fill:after {
    background: #00b4ff;
  }
  .pad_rlt_10{padding: 0 10px; display: block;}
  .pad_rlt_25{padding: 0 25px; display: block;}
  #registro{padding: 10px 34px !important;}
  .form_label{font-weight: bold;font-size: 13px; margin-top: 15px;margin-bottom:15px;float: left;color: #585757;}

  .user_info{
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin-top: -1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0px 0px;
    width: 100%;
    color: #919191;
    .title_text{
      font-size: 14px;
      padding: 10px 0 10px 10px;
    }
    .item-block{min-height: 4.4rem;}
    .list{
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 13px;
    }
    .item-ios, .item-md{
      padding: 0px;
    }
    .label-ios {
      margin: 0;
      color: #919191;
    }
    .item-ios .radio-ios{margin: 0px;}
    .item{font-size: 13px;
      min-width: 55px;
      padding: 11px 4px;
      .item-inner{padding: 0px 0 0 0px;}

    }
    .item:hover{
      background: #EDEDED; color: #00b4ff;
      .label-ios{color:#00b4ff;}
      ion-label{color: #00b4ff !important;}
    }
    .item:last-child {
      min-width: 52px;
      .input-wrapper{width:100%;}
    }
    .item-md .radio-md{margin: 0px;}
    .item-radio-checked{background:#EDEDED;
      .label-ios{color:#00b4ff;}
      ion-label{color: #00b4ff !important;}
    }
    .item-radio-checked.item-md ion-label, .item-radio.item-md ion-label{color: #919191;}
    button{padding: 0px; margin: 0px;}
    h6{font-size: 14px;}
    p{margin: 0px;}
    .item-inner{display: inline-block;}
    .input-wrapper{
      float: right;
      line-height: 24px;
      width:100%;
      text-align: center;
    }
    .radio{float: left;
      width: 0px;
  height: 0px;
  opacity: 0;
}
  }
  .item-inner {
        padding-top: 0;
        min-height: auto;
        align-self: auto;
    }
    .item-radio{
      ion-label{margin: 0px;}
      .input-wrapper {
          line-height: normal;
      }
    }
    .item.item-radio:last-child {
        min-width: 60px;
    }
    .radio-ios .radio-checked .radio-inner {
        top: 0px;
      }
    .radio-md {
      .radio-icon{
        border-width: 1px;
        border-color: #d2d2d2;
      }
      .radio-inner {
        left: 3px;
        top: 3px;
      }
      .radio-checked {
          border-color: #488aff;
      }
    }

  .searchbar-md.searchbar-left-aligned .searchbar-search-icon{
    left: initial !important;
    right: 3px;
    top: 18px !important;
    background-size: 16px;
    }
    .border_zero{border: 0px;}
    .map{
      display: inline-block;
      width: 100%;
      border-top: 1px solid #ddd;
    }
    
    .user_info ion-list ion-item.item-radio-checked{border-radius: 50%;height: 55px;width: 55px;}
}
