page-my-documents {
        /* Common css*/
 .item-md.item-block .item-inner{padding-right: 0px;}
 .card-md, .card-ios{width: 100%; margin: 0;}
 .card-ios{box-shadow: none;border-bottom: 1px solid #d9d9d9;}
 ion-title{text-align: center;}
 ion-title .toolbar-title{color: #ffffff;}
 /* Ended common css*/

 /* Main Css*/
 .bar-buttons-ios .bar-button-default-ios{height: 37px;}
 //.content-ios .scroll-content{margin-top: 115px !important;}
 ion-buttons {margin: 0;}
 .bar-button-default-md, .bar-button-default-ios{color: #fff;}
 .toolbar-md{padding: 0px;}
 ion-item.item.item-block{border-bottom: 1px solid #d9d9d9;}
 ion-col.col.col{float:left;}
 .forward_icon ion-icon{color: #6b5b5b;}
 ion-col p{text-align: left !important;}

 .back-button {
     width: 0px;
     color: #fff;
 }

 .add_menor {
     margin-top: 13px;
     float: left;
     color: #0099ff;
 }

 .form_label {
     font-size: 13px;
     margin-top: 15px;
     margin-bottom: 15px;
     float: left;
     color: #2f2f2f;
 }


   .pad_rlt_10{padding: 0 10px; display: block;}
   .pad_rlt_25{padding: 0 25px; display: block;}
   .item-ios, .item-md{padding-left: 8px;
     h2 {
         font-size: 14px;
       }
     p {
       font-size: 12px;
     }
   }
   .label-ios, .label-md {
     margin:8px 0px 8px 0;
     display: flex;
     justify-content: space-between;
     align-items: center;
   }
   .forward_icon{text-align: right;}
   .item-ios.item-block .item-inner{padding-right: 0px;}
   .forward_icon .button{width: 74px;}
        
    .document ion-item.item.item-block{padding-left: 3px;}
    .document ion-avatar img{width:40px !important; border-radius: 0 !important;}
    .document .item-ios p{font-size: 1.4rem;}
    .document .item-ios h2 {font-size: 12px;}
    .right_button .icon{font-size: 22px;}

}
