<ion-header>
    <ion-navbar>
      <ion-title>Vitales</ion-title>
      <ion-buttons end class="right_button" (click)="pharmacy()">
        <button ion-button color="royal">Continuar</button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>
  
  <ion-content>
    <form>
      <div class="pad_rlt_25">
        <div class="circle_icon">
          <ul>
            <li class="active fill">
              <ion-icon name="checkmark"></ion-icon>
            </li>
            <li class="active fill">
              <ion-icon name="checkmark"></ion-icon>
            </li>
            <li class="active fill">
              <ion-icon name="checkmark"></ion-icon>
            </li>
            <li class="active fill">
              <ion-icon name="checkmark"></ion-icon>
            </li>
            <li class="active">5</li>
            <li>6</li>
          </ul>
        </div>
      </div>
  
      <div class="pad_rlt_10">
        <span class="form_label">¿Ha sido diagnosticado con alguna de las siguientes condiciones?</span>
      </div>
  
      <ion-list-header>
          Presión arterial
      </ion-list-header>
      <div class="user_info">
        <div class="title_text">Sistólica</div>
        <ion-select (ionChange)="systolicSelect(body.systolic)" interface="popover" [(ngModel)]="body.systolic" [ngModelOptions]="{standalone: true}">
            <ion-option [value]="sys" *ngFor="let sys of systolicArr">{{sys}}</ion-option> 
        </ion-select>

      </div>
      <div class="user_info">
          <div class="title_text">Diastólica</div>
          <ion-select (ionChange)="diastolicSelect(body.diastolic)" interface="popover" [(ngModel)]="body.diastolic" [ngModelOptions]="{standalone: true}">
              <ion-option [value]="dias" *ngFor="let dias of diastolicArr">{{dias}}</ion-option> 
          </ion-select>
        </div>

      <ion-list-header>
          Temperatura corporal
      </ion-list-header>
      <div class="user_info">
        <div class="title_text">°F</div>
        <ion-select (ionChange)="tempratureSelect(body.temprature)" interface="popover" [(ngModel)]="body.temprature" [ngModelOptions]="{standalone: true}">
            <ion-option [value]="temp" *ngFor="let temp of tempratureArr">{{temp}}</ion-option> 
        </ion-select>
      </div>

      <ion-list-header>
          Velocidad de la respiración
      </ion-list-header>
      <div class="user_info">
          <div class="title_text">Respiraciones por minuto</div>
          <ion-select (ionChange)="breathSelect(body.breath)" interface="popover" [(ngModel)]="body.breath" [ngModelOptions]="{standalone: true}">
              <ion-option [value]="br" *ngFor="let br of breathsArr">{{br}}</ion-option> 
          </ion-select>
        </div>
  
    </form>
  
  </ion-content>