page-vitals {
    .header button.bar-button .button-inner{
        padding-left: 0px;
    }
    .header .right_button .button-inner {
        padding-left: 20px !important;
    }
    .toolbar-background,
    .toolbar-ios {
        background: #f7f7f7;
        border-bottom: 1px solid #d9d9d9;
    }
    ion-title {
        text-align: center;
    }
    ion-title .toolbar-title {
        color: #ffffff;
        font-size: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .back-button {
        width: 0px;
        color: #fff;
    }
    ion-card-title.card-title {
        font-size: 1.4rem;
    }
    .top {
        /* height: 150px !important;
            padding: 64px 0 !important; */
        padding: 92px 0 !important;
        background-color: #ffffff;
        p {
            padding: 0 50px;
        }
    }
    .center h6 {
        color: #847676
    }
    .circle_icon ul {
        padding: 15px 20px 15px 20px !important;
        background-color: #ffffff;
        margin: 0px !important;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        border-bottom: none;
    }
    .circle_icon ul li {
        list-style: none;
        padding: 0px;
        line-height: 25px;
        font-size: 12px;
        font-weight: normal;
        width: 25px;
        height: 25px;
        text-align: center;
        background: #e8e8ea;
        border-radius: 100%;
        color: #a1a1a1;
        position: relative;
        border: 1px solid #e8e8ea;
    }
    .circle_icon ul li.active {
        background: #ffffff;
        border: 1px solid #0084ff;
        color: #0084ff;
    }
    .circle_icon ul li.fill {
        background: #0084ff;
        border: 1px solid #0084ff;
        color: #ffffff;
    }
    .circle_icon ul li:after {
        content: ''; //position: absolute;
        //top: 11px;
        //height: 1px;
        //background: #a1a1a1;
        //left: 15px;
        //width: 57px;
        //z-index: 0;
    }
    .circle_icon ul li:last-child:after {
        content: none;
    }
    .circle_icon ul li.fill:after {
        background: #0084ff;
    }
    .pad_rlt_10 {
        padding: 0px;
        display: block;
    }
    .pad_rlt_25 {
        padding: 0px;
        display: block;
    }
    #registro {
        padding: 10px 34px !important;
    }
    .form_label {
        font-weight: bold;
        font-size: 13px;
        margin-top: 15px;
        margin-bottom: 15px;
        float: left;
        color: #919191;
    }
    .title_content {
        color: #a1a1a1;
        text-align: left;
        padding-top: 15px;
        font-size: 14px;
        padding-bottom: 15px;
        b {
            color: #555555;
            font-weight: bold;
        }
    }
    .user_info {
        border-top: 1px solid #d9d9d9;
        border-bottom: 1px solid #d9d9d9;
        margin-top: -1px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 0px;
        width: 100%;
        color: #919191;
        span {
            padding-right: 10px;
        }
        .title_text {
            font-size: 14px;
            padding: 10px 0 10px 10px;
        }
        .item-block {
            min-height: 4.4rem;
        }
        .list {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 13px;
        }
        .item-ios,
        .item-md {
            padding: 0px;
        }
        .label-ios {
            margin: 0;
            color: #919191;
        }
        .item-ios .radio-ios {
            margin: 0px;
        }
        .item {
            font-size: 13px;
            min-width: 55px;
            padding: 11px 4px;
            .item-inner {
                padding: 0px 0 0 0px;
            }
        }
        .item:hover {
            background: #EDEDED;
            color: #0084ff;
            .label-ios {
                color: #0084ff;
            }
            ion-label {
                color: #0084ff !important;
            }
        }
        .item:last-child {
            min-width: 52px;
            .input-wrapper {
                width: 100%;
            }
        }
        .item-md .radio-md {
            margin: 0px;
        }
        .item-radio-checked {
            background: #EDEDED;
            .label-ios {
                color: #0084ff;
            }
            ion-label {
                color: #0084ff !important;
            }
        }
        .item-radio-checked.item-md ion-label,
        .item-radio.item-md ion-label {
            color: #919191;
        }
        button {
            padding: 0px;
            margin: 0px;
            position: relative;
        }
        h6 {
            font-size: 14px;
        }
        p {
            margin: 0px;
        }
        .item-inner {
            display: inline-block;
        }
        .input-wrapper {
            float: right;
            line-height: 24px;
            width: 100%;
            text-align: center;
        }
        .radio {
            float: left;
            width: 0px;
            height: 0px;
            opacity: 0;
        }
    }
    .item-inner {
        padding-top: 0;
        min-height: auto;
        align-self: auto;
    }
    .item-radio {
        ion-label {
            margin: 0px;
        }
        .input-wrapper {
            line-height: normal;
        }
    }
    .item.item-radio:last-child {
        min-width: 60px;
    }
    .radio-ios .radio-checked .radio-inner {
        top: 0px;
    }
    .radio-md {
        .radio-icon {
            border-width: 1px;
            border-color: #d2d2d2;
        }
        .radio-inner {
            left: 3px;
            top: 3px;
        }
        .radio-checked {
            border-color: #488aff;
        }
    }
    .select-text {
        min-width: 25px;
    }
    .last_selection .select-text {
        min-width: 40px;
    }
    .list-header-ios,
    .list-header-md,
        {
        background: #EEEEEE !important;
        margin-bottom: 0px !important;
    }
    .list-header-ios {
        border-color: #eee !important;
        text-transform: none;
    }
    .title_header {
        background: #d9d9d9;
        padding: 5px;
        color: #555555;
        font-size: 14px;
    }
    .header button.bar-button.bar-button-ios .button-inner {
        padding-left: 10px !important;
    }
}