page-myhealth {
    item-md.item-block .item-inner{padding-right: 0px;}
    .card-md, .card-ios{width: 100%; margin: 0;}
    .toolbar-background {background: #00b4ff;}
    ion-title{text-align: center;}
    ion-title .toolbar-title{color: #ffffff;}
    .back-button{width:0px;color: #fff;}
    ion-card-title.card-title{font-size: 1.4rem;}
    ion-content img{width: 70px;border-radius: 50%;}
    .list-header-md, .list-header-ios{border-bottom: 1px solid #ccc;border-top: none;}
    .ion-ios-create-outline{color: #fff;font-size: 20px;}

    ion-buttons {margin: 0;}
    .bar-button-default-md, .bar-button-default-ios{color: #fff;}
    .toolbar-md{padding: 0px;}
    ion-item.item.item-block{border-bottom: 1px solid #ddd;}
    ion-col.col.col{float:left;}
    .forward_icon ion-icon{color: #6b5b5b;}
    .user_date{float: right;font-size: 12px;margin-right: 15px; margin-top: 3px;}
}
