<div class="tab-content-app" [ngClass]="{ hidden: isCall }">
  <ion-menu [content]="content" persistent="true">
    <ion-content>
      <div class="bg-block nav-lt" menuClose (click)="getProfile()">
        <div class="user-img"><img [src]="avatar" height="60" /></div>
        <div class="user-name">{{ user.firstName }} {{ user.lastName }}</div>
      </div>
      <ion-list no-lines class="left-nav">
        <button
          menuClose
          ion-item
          *ngFor="let p of pages"
          (click)="openPage(p)"
        >
          {{ p.title }}
        </button>
        <button menuClose ion-item (click)="logout()">Salir</button>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
</div>

<div
  class="view-call"
  [ngClass]="{ active: isCall, 'bg-display': remoteVideo }"
>
  <video
    [src]="localVideo.src | safe: 'url'"
    playsinline
    autoplay
    muted="muted"
    id="local-video"
    *ngIf="localVideo"
    class="resize-drag"
    [ngClass]="{ desktop: localVideo.extra.isDesktop }"
  ></video>

  <video
    [src]="remoteVideo.src | safe: 'url'"
    playsinline
    autoplay
    id="remote-video"
    *ngIf="remoteVideo"
    [ngClass]="{ desktop: remoteVideo.extra.isDesktop }"
  ></video>

  <div class="calling" *ngIf="isCall && !remoteVideo">
    <div class="img"><img [src]="callOption.receive.avatar" alt="" /></div>
    <div class="name">{{ callOption.receive.name }}</div>
    <div class="option">
      <span *ngIf="callOption.option.video">Video </span>
      <span *ngIf="!callOption.option.video">Audio </span> calling...
    </div>
  </div>

  <div
    class="calling"
    *ngIf="isCall && remoteVideo && !callOption.option.video"
  >
    <div class="img"><img [src]="callOption.receive.avatar" alt="" /></div>
    <div class="name">{{ callOption.receive.name }}</div>
    <div class="option">Audio Call</div>
  </div>

  <div class="button-action">
    <button ion-button color="danger" (click)="closeCall()" class="close-call">
      <ion-icon ios="ios-call" md="md-call"></ion-icon>
    </button>
    <button
      ion-button
      color="danger"
      (click)="joinMultipleCall()"
      class="start-call"
      *ngIf="!localVideo"
    >
      <ion-icon ios="ios-call" md="md-call"></ion-icon>
    </button>
  </div>

  <div class="action-list">
    <button
      ion-button
      color="danger"
      (click)="switchCamera()"
      class="switch-video"
    >
      <ion-icon ios="ios-reverse-camera" md="md-reverse-camera"></ion-icon>
    </button>
    <button ion-button color="danger" (click)="muteAudio()" class="mute-video">
      <ion-icon ios="ios-mic" md="md-mic" *ngIf="!isMuted"></ion-icon>
      <ion-icon ios="ios-mic-off" md="md-mic-off" *ngIf="isMuted"></ion-icon>
    </button>
    <button
      ion-button
      color="danger"
      (click)="muteSpeaker()"
      class="mute-video"
    >
      <ion-icon
        ios="ios-volume-up"
        md="md-volume-up"
        *ngIf="!isVolume"
      ></ion-icon>
      <ion-icon
        ios="ios-volume-off"
        md="md-volume-off"
        *ngIf="isVolume"
      ></ion-icon>
    </button>
    <button
      ion-button
      color="danger"
      (click)="minizeCall()"
      class="minize-video"
    >
      <ion-icon ios="ios-chatbubbles" md="md-chatbubbles"></ion-icon>
    </button>
  </div>
</div>

<button
  ion-button
  color="secondary"
  round
  class="fix-btn-tab get-back-button"
  (click)="backVideo()"
>
  <ion-icon ios="ios-videocam" md="md-videocam"></ion-icon>
</button>
