page-register-options {
    .top{
        padding: 30px 20px 0 20px !important;
        height: 158px !important;
        img{width: 34px;}
    }

    .btnFacebook{
        width:100%; 
        margin: 10px auto;
        background-color:#3b5998;
        text-align: left;
        color:white; 
        position: relative !important;
        .facebookIcon{
            display: inline-block;
            vertical-align: middle;
            margin: 0 25px 0 0;
        }
        p{
            display: inline-block;
            vertical-align: middle;
            color: white !important;
            line-height: 0;
            font-size: 1em;
        }
    }

    .btnMail{
        width: 100%;
        margin: 10px auto;
        background-color:#dad2d2;
        text-align: left;
        color:white; 
        position: relative !important;
        .mailIcon{
            display: inline-block;
            vertical-align: middle;
            margin: 0 25px 0 0;
        }
        p{
            display: inline-block;
            vertical-align: middle;
            color: #564f4f !important;
            line-height: 0;
            font-size: 1em;
        }
    }

    .btnMobile{
        width: 100%;
        margin: 10px auto;
        background-color:#00b4ff;
        text-align: left;
        color:white; 
        position: relative !important;
        .mobileIcon{
            display: inline-block;
            vertical-align: middle;
            margin: 0 25px 0 0;
        }
        p{
            display: inline-block;
            vertical-align: middle;
            color: white !important;
            line-height: 0;
            font-size: 1em;
        }
    }

    .scroll-content{
        margin-top: 158px !important;
    }

    .separador{
        position: relative;
        height: 30px;
        border-bottom: 2px solid #eeeeee;
        width: 90%;
        margin: 0 auto;
    }

    .lao{
        color: #BDBDBD;
        text-align: center;
        margin: 0 0 0 46%;
        padding: 10px;
        background-color: white;
        position: absolute;
        bottom:-16px;
    }

    .registrate{
        width: 90%;
        margin: 0 auto;
        font-size: 1em;
        p{
            text-align: center;
            color: #00B4FF;
        }
    }

    .terminos{
        margin-bottom: 50px;
        position: absolute;
        bottom: 0;
        width: 100%;
        h5{
            color:#757575;
            font-size: 1em;
            margin-top:15px;
            text-align: center; 
            padding-top: 25px;
            margin-bottom: 3px;
        }
        .link{
            color: #00B4FF;
            margin-top: -30px;
        }
    }
    
    .no-scroll .scroll-content{overflow: hidden;}
    .register_option_text{ margin: 0 auto; width: 100%;}
    .register_option_text p{ color: #757575;font-size: 13px; margin: 20px 0 13px 0;}
    .terminos a{color: #00b4ff;}
    .term_privacy{width: 82%;margin: 0 auto;}
    .term_privacy span {color: #757575;}

    .bottom {padding: 15px 0;border-top: none; background: #fff;}
    

}
/*========= New Css ==============*/
.btnFacebook, .btnMail, .btnMobile{
    padding-left: 40px;
}
.btnFacebook .facebookIcon , .btnMail .mailIcon, .btnMobile .mobileIcon{ 
    position: absolute;
    left: 10px;
    top: 7px;
}
.pad_rlt{
display: block;
padding: 0 34px;
}